h1 {
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}

.past-games-card {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 4px;
}

.past-games-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Collapsible {
  text-align: center;
  cursor: pointer;
  font-size: 13px;
}

.detail-title:not(:first-child) {
  margin-top: 5px;
}
