.team-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.team-card {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 100px;
  height: 200px;
  margin: 5px;
  align-items: center;
}

.team-logo {
  max-width: 50%;
  height: auto;
  margin: auto;
}

.input-group {
  display: flex;
  margin: 10px 0 10px 0;
}
