.team-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.team-card {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 100px;
  height: 200px;
  margin: 5px;
  align-items: center;
  border-radius: 8px;
}

.team-logo {
  max-width: 50%;
  height: auto;
  margin: auto;
}

.input-group {
  display: flex;
  margin: 10px 0 10px 0;
}

.pagination {
  padding: 0;
}

ul#page-numbers {
  padding: 0;
  margin-top: 10px;
}

ul#page-numbers li {
  width: 50px;
  float: left;
  list-style: none;
  cursor: pointer;
  text-align: center;
}

.active-link {
  background-color: #f6f6f6;
  text-decoration: underline;
  border-radius: 8px;
}

.btn {
  margin: auto;
}
